/* docs/.vuepress/styles/index.scss */
.navbar-toggle {
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-menu {
  display: none;
}

.navbar-menu.active {
  display: block;
}